footer.main-footer
  nav.main-footer__nav
    .main-footer__container
      .main-footer__wrapper
        p.main-footer__caption-list
          svg.main-footer__svg.main-footer__svg--users
            use(xlink:href="#icon_users")
          | Users
        ul.main-footer__list
          li.main-footer__item
            a.main-footer__link(href="#") Payment
          li.main-footer__item
            a.main-footer__link(href="#") Delivery
          li.main-footer__item
            a.main-footer__link(href="#") Return and exchange
          li.main-footer__item
            a.main-footer__link(href="#") Help with the sservice
          li.main-footer__item
            a.main-footer__link(href="#") Terms of use
          li.main-footer__item
            a.main-footer__link(href="#") Feedback

      .main-footer__wrapper
        p.main-footer__caption-list
          svg.main-footer__svg.main-footer__svg--shopping
            use(xlink:href="#icon_shops")
          | Shopping
        ul.main-footer__list
          li.main-footer__item
            a.main-footer__link(href="#") Connectivity
          li.main-footer__item
            a.main-footer__link(href="#") Help for shops
          li.main-footer__item
            a.main-footer__link(href="#") Dashboard
          li.main-footer__item
            a.main-footer__link(href="#") Storehouse
          li.main-footer__item
            a.main-footer__link(href="#") Terms of use
          li.main-footer__item
            a.main-footer__link(href="#") Feedback

      .main-footer__wrapper
        p.main-footer__caption-list.main-footer__caption-list--statistic
          svg.main-footer__svg.main-footer__svg--shopping
            use(xlink:href="#icon_statistic")
          | Statistic
        ul.main-footer__list
          li.main-footer__item.main-footer__item--statistic
            span.main-footer__statistic-value 453 034
            p.main-footer__statistic-desc Goods
          li.main-footer__item.main-footer__item--statistic
            span.main-footer__statistic-value 2 545
            p.main-footer__statistic-desc Shops
  .more-links
    .more-links__container
      a.more-links__link(href="#") Mobile version
      a.more-links__link(href="#") Statistic
      a.more-links__link(href="#") Advertising
