%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")
    %title Main Marketplace
  %body.main
    %header
      %h1.header__title.visually-hidden Main Marketplace
      %nav.nav
        .user-nav
          %form.search
            %input.search__submit.sprite-h-search(type="submit" value="Поиск")
            %input.search__text(type="text" placeholder="Search goods...")
          %a.logo(href="#") На главную
          %ul.user
            %li.user__item
              %a.user__link.sprite.sprite-h-favorite(href="#") Favorite
            %li.user__item
              %a.user__link.sprite.sprite-h-compare(href="#") Compare
            %li.user__item
              %a.user__link.sprite.sprite-h-cart(href="#") Cart
            %li.user__item
              %a.user__link.user__link--user(href="#") User
        %ul.categories
          %li.categories__item
            %a.categories__link(href="#") Electronics
          %li.categories__item
            %a.categories__link.categories__link--active(href="#") Appliances
          %li.categories__item
            %a.categories__link(href="#") Children's goods
          %li.categories__item
            %a.categories__link(href="#") Repairs
          %li.categories__item
            %a.categories__link(href="#") Clothes
          %li.categories__item
            %a.categories__link(href="#") Footwear
          %li.categories__item
            %a.categories__link(href="#") Beauty
