/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.sprite::before {
  position: absolute;
  top: 0;
  left: 0;
	background-image: url('../img/sprite.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite::before {
    background-image: url('../img/sprite.png');
    background-size: 160px 40px;
	}
}

.sprite-h-search {
	width: 30px;
	height: 30px;
  background-image: url('../img/sprite.png');
  background-position: -90px 0;
}

.sprite-h-favorite::before {
  content: "";
  display: inline-block;
	width: 30px;
	height: 30px;
	background-position: -60px 0;
}

.sprite-h-compare::before {
  content: "";
  display: inline-block;
	width: 30px;
	height: 30px;
	background-position: -30px 0;
}

.sprite-h-cart::before {
  content: "";
  display: inline-block;
	width: 30px;
	height: 30px;
	background-position: 0 0;
}

.sprite-h-user::before {
  content: "";
  display: inline-block;
	width: 40px;
  height: 40px;
  background-image: url('../img/sprite.png');
	background-position: -120px 0;
}
