$font-fallback: system,
                -apple-system,
                '.SFNSText-Regular',
                'San Francisco',
                'Roboto',
                'Segoe UI',
                'Helvetica Neue',
                'Lucida Grande';

$blueLogo: #0078FF;
$colorRed: #FF004F;
$borderTop: 2px solid #F5F5F5;
$borderBottom: 2px solid #EBEBEB;
