@import "./scss/sprites";

$font-fallback: system,
                -apple-system,
                '.SFNSText-Regular',
                'San Francisco',
                'Roboto',
                'Segoe UI',
                'Helvetica Neue',
                'Lucida Grande',
                sans-serif;

$Medium: 500;
$Bold: 700;

$blueLogo: #0078FF;
$colorLightGrey: #B2B2B2;
$colorPermGrey: #808080;
$colorHeaderNav: #999999;
$colorBorderContent: #F5F5F5;
$borderContent: 2px solid $colorBorderContent;
