@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Bold.ttf') format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium.ttf') format('ttf');
    font-weight: 500;
}

body {
    font-family: 'Roboto', $font-fallback, serif;
    color: $colorPermGrey;
    font-size: 14px;
    & a {
      color: $colorPermGrey;
    }
}


.categories__link {
  color: $colorHeaderNav;
  &--active {
    font-weight: $Bold;
  }
}
